header {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 20rem;
}

.navbar {
    --navbar-height: 7rem;

    width: 80vw;
    height: var(--navbar-height);

    border-radius: calc(var(--navbar-height)/2);

    background-color: var(--primary-500);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 5rem;
}

.navbar-title{
    color: var(--text-500);
}

.project-name{
    font-size: 3.4rem;
}

.theme-switcher{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.theme-switcher>img{
    height: 2rem;
}

.navbar-actions{
    display: flex;
    align-items: flex-end;
    gap: 3rem;
}

.navbar-item{
    font-weight: 400;
    font-size: 1.5rem;

    color: white;

    cursor: pointer;
}