@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*LIGHT MODE VARAIABLES*/
:root {
  --green-text-500: #a8d6b8;
  --white-text-500: #e6ebe8;
  --background-500: #171717;
  --primary-500: #346847;
  --secondary-500: #44554b;
  --accent-500: #63be83;
  /* --text-500: #418B5B;
  --background-500: #F4F4F4;
  --primary-500: #96CAA9;
  --secondary-500: #AABBB1;
  --accent-500: #419B60; */
  --green: #74be8e;
}

/*DARK MODE VARIABLES*/
[data-theme="dark"] {
  --green-text-500: #a8d6b8;
  --white-text-500: #e6ebe8;
  --background-500: #171717;
  --primary-500: #346847;
  --secondary-500: #44554b;
  --accent-500: #63be83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-weight: 600;
}
